# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# Streamlit
# Only uncomment the line below if you don't want to track your streamlit credentials or config
# .streamlit/

# OSFiles
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
